
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-30%);
	}
	60% {
		transform: translateY(-15%);
	}
}

.bounce {
	@include animation(bounce 1.5s infinite);
}

