@import 'bootstrap-compass';
@import 'bootstrap';
@import 'variables';
@import 'animation';

body {
	font-family: $main-font;
}

.landing {
	background-color: $main-color;
	background-image: url('../img/landing-blue.jpg');
	background-size: cover;
	background-position: center;
	.container {
		height: 100vh;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
}
header h1 {
	font-weight: bold;
	color: $white;
	margin: 0px;
	span {
		color: $secondary-color;
	}
}
.scroll {
	position: absolute;
   	top: 85vh;
	text-align: center;
	color: $white;
	align-self: center;
	img {
		width: 4rem;
	}
}

.title {
	text-align: center;
	p {
		font-weight: 400;
		font-size: 1.6rem;
	}
}

.about {
	.content {
		display: flex;
		flex-direction: column;
	}
	
	.col-sm-3 {
		background-image: url('../img/sora.png');
		background-position: center;
		background-size: cover;
		display: flex;
		justify-content: center;
		filter: grayscale(100%);
		height: 30vh;
		p {
			color: $white;
			font-weight: 100;
			align-self: flex-end;
		}
	}
	.col-sm-7 {
		padding: 20px 15px;
		background-color: $secondary-color;

	}

	.col-sm-2 {
		background-color: $main-color;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}
.work {
	background-color: #eee;
}
.site-img {
	background-image: url('../img/site-img.jpg');
	background-size: cover;
	background-position: center;
	height: 150px;
}








@media only screen and (min-width: 768px) {
	.about {
		display: flex;
		align-items: center;
		.title{
			padding-bottom: 30px;
		}
		.content {
			display: flex;
			flex-direction: row;
			height: 350px;
		}
		.col-sm-7 {
			display: flex;
			justify-content: space-between;
			flex-direction: column;
		}
		.col-sm-3 {
			height: auto;
		}

	}
}

