@import 'bootstrap-compass';
@import 'bootstrap';
@import 'variables';
@import 'animation';

body {
	font-family: $main-font;
}

.landing {
	background-color: $main-color;
	background-image: url('../img/landing-blue.jpg');
	background-size: cover;
	background-position: center;
	.container {
		height: 100vh;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
}
header h1 {
	font-weight: bold;
	color: $white;
	margin: 0px;
	span {
		color: $secondary-color;
	}
}
.scroll {
	position: fixed;
   	top: 85vh;
	text-align: center;
	color: $white;
	align-self: center;
	img {
		width: 50px;
	}
}